{% include "books/top.html" %}
{% include "books/menu.html" %}

<div class="container pt-3">

    {% include "books/components/error_message.html" %}

    {% include "books/components/top_triple_messages.html" %}

    {% include "books/view_import/hidden_info_for_google_import.html" %}

    {% include "books/view_import/search_form_for_google_import.html" %}

    {% include "books/view_import/paginator_for_google_import.html" %}

    {% include "books/view_import/table_for_google_import.html" %}

</div>

{% include "books/bottom.html" %}