{% if not send_obj.api_query %}

    <div class="alert alert-warning" role="alert">

        <h4 class="alert-heading">
            Start Searching is Google Books Library
        </h4>

        <p class=""> - In the first field you can search in all parameters of the book. </p>

        <p class=""> - In the second field you can search for a book with a specific title. </p>

        <p class=""> - In the third field you can search for books by a specific author. </p>

        <hr>

        <p class="mb-0 text-break">You can easily save the found items to our database by clicking the import icon in
            the search table.</p>
    </div>

{% endif %}

